.creative-step {
  &__title {
    font-family: 'Hero-Bold';
    font-style: normal;
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
  }

  &__wrapper {
    background: #fff;
    border-radius: 6px;
    width: 496px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 768px) {
  .creative-step {
    &__wrapper {
      width: 100%;
    }
  }
}