.dropzone {
  height: 192px;
  width: 100%;
  border: 1px dashed #B2B9C3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0 10px;
    text-align: center;
    font-weight: bold;

    span {
      color: #6c63ff;
    }
  }

  &__additional-text {
    font-size: 12px;
    line-height: 14px;
    color: #B3B9C2;
    text-align: center;
  }
}

.dropped-files-screen {
  width: 100%;
  &__add {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    border: none;
    background: none;
    color: #6c63ff;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
  }
}