.sign-in-form {
  &__title {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 43px;
  }

  &__subtitle {
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 24px;
  }

  &__passcode-message {
    margin-top: 30px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    a {
      color: #6c63ff;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .sign-in-form {
    &__title {
      margin-top: 0;
    }
  }

  .passcode {
    .sign-in-form__subtitle {
      margin-bottom: 46px;
    }
  }
}